<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
 
  </header>
 
  <h3> Items </h3>

<div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Image</th>
      <th>Description</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <% @order.line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.product.name %></td>
        <td><%= line_item.quantity %></td>
        <td><img class="image-order" src="<%= line_item.product.image %>"></td>
        <td><%= line_item.product.description %></td>
        <td><%= humanized_money_with_symbol line_item.total_price.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<h4> Email </h4>
<p> <%= @order.email %> </p>

<h4> Total </h4>
<p> <%=  humanized_money_with_symbol @order.total %> </p>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
